:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-bright-yellow: hsl(71, 73%, 54%);
  --color-light-gray: hsl(204, 43%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light-gray);
  color: hsla(203, 44%, 93%, 0.88);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-price {
  display: grid;
  height: 47.5rem;
  width: 63.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 45% 55%;
  -webkit-box-shadow: 0 0.8rem 3rem 0.5rem rgba(152, 166, 189, 0.2);
          box-shadow: 0 0.8rem 3rem 0.5rem rgba(152, 166, 189, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
@media only screen and (max-width: 500px) {
  .single-price {
    height: 80vh;
    width: 80vw;
    grid-template-columns: 80vw;
    grid-template-rows: 36% 32% 32%;
  }
}
.single-price .single-top {
  background-color: #fff;
  grid-column: span 2;
  padding: 3.5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
@media only screen and (max-width: 500px) {
  .single-price .single-top {
    grid-column: span 1;
  }
}
.single-price .single-top__heading--2 {
  color: #5fc5c3;
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 0.2rem;
}
.single-price .single-top__heading--3 {
  color: var(--color-bright-yellow);
  margin-top: 0.8rem;
  font-size: 1.75rem;
}
.single-price .single-top__details {
  color: hsl(216, 25%, 70%);
  margin-top: -1rem;
  line-height: 1.6;
}
@media only screen and (max-width: 500px) {
  .single-price .single-top__details {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
}
.single-price .single-left {
  background-color: var(--color-cyan);
  padding: 2.5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.single-price .single-left__heading {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  color: #eee;
}
.single-price .single-left .price-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.single-price .single-left .price-month__price {
  font-size: 3.2rem;
  color: #fff;
}
.single-price .single-left .price-month__month {
  color: #6cd1cf;
}
.single-price .single-left__details {
  margin-top: -1rem;
  margin-bottom: 1.2rem;
}
.single-price .single-left .btn {
  background-color: var(--color-bright-yellow);
  border: none;
  padding: 1.5rem 0;
  border-radius: 5px;
  width: 100%;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-box-shadow: 0 0.8rem 3rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.8rem 3rem 0.5rem rgba(0, 0, 0, 0.1);
}
.single-price .single-right {
  padding: 2.5rem 4rem;
  background-color: #54bab9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.single-price .single-right__heading--4 {
  margin-top: 1.5rem;
  color: #eee;
  font-size: 1.7rem;
}
.single-price .single-right__reasons {
  list-style: none;
}
.single-price .single-right__reasons--item {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: rgb(98, 92, 92);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}