:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-bright-yellow: hsl(71, 73%, 54%);
  --color-light-gray: hsl(204, 43%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-price {
  display: grid;
  height: 40rem;
  width: 60rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem;
  -webkit-box-shadow: 0.1rem 0.8rem 1.5rem 0.5rem rgba(0, 0, 0, 0.05);
          box-shadow: 0.1rem 0.8rem 1.5rem 0.5rem rgba(0, 0, 0, 0.05);
}
.single-price .single-top {
  grid-column: span 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}