.single-price {
  display: grid;

  height: 40rem;
  width: 60rem;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem;
  box-shadow: 0.1rem 0.8rem 1.5rem 0.5rem rgba(0, 0, 0, 0.05);

  .single-top {
    grid-column: span 2;
  }
}
